@model QuickComplaint.Data.Entities.Complaint


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Edit Complaint</h4>
        <hr/>
        @Html.ValidationSummary(true, "", new {@class = "text-danger"})


        <div class="form-group">
            @Html.LabelFor(model => model.Id, new {@class = "control-label col-md-2"})
            <div class="col-md-10"><p class="form-control-static">@Html.DisplayFor(model => model.Id)</p>
                

            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ComplaintTypeId, new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.ComplaintTypeId, (SelectList) ViewBag.ComplaintTypes, new {@class = "form-control"})
                @Html.ValidationMessageFor(model => model.ComplaintTypeId, "", new {@class = "text-danger"})
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.LocationDetails, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LocationDetails, new { htmlAttributes = new { @class = "form-control k-textbox" } })

                @Html.ValidationMessageFor(model => model.LocationDetails, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Description, new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Description, 5,20,  new {@class = "form-control k-textbox"})

                @Html.ValidationMessageFor(model => model.Description, "", new {@class = "text-danger"})
            </div>
        </div>

      

        <div class="form-group">
            @Html.LabelFor(model => model.ReportingPartyId, new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.ReportingPartyId, (SelectList) ViewBag.ReportingParties, new {@class = "form-control"})
                @Html.ValidationMessageFor(model => model.ReportingPartyId, "", new {@class = "text-danger"})
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                @Html.ActionLink("Cancel", "Index", "", new { @class = "btn btn-default", @role = "button" })
                <input type="submit" value="Save" class="btn btn-primary"/>
            </div>
        </div>
    </div>
}

<div>
  
</div>

@section Scripts {

}