<!DOCTYPE html>
<html data-ng-app="app">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")


    <style [ng-cloak]
           {
           display none !important;
           }>

    </style>
</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("QuickComplaint", "Index", "Complaint", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Complaint", new { area = "" }, null)</li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Admin <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Manage Complaint Types", "Index", "ComplaintType", new { area = "" }, null)</li>
                            <li>@Html.ActionLink("Manage Reporting Parties", "Index", "ReportingParty", new { area = "" }, null)</li>
                        </ul>
                    </li>
                </ul>

            </div>

        </div>
    </div>
    <div class="container body-content" ng-cloak>
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - QuickComplaint</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")


    <!-- Vendor Scripts -->

    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/angular-animate.js"></script>
    <script src="~/Scripts/angular-route.js"></script>
    <script src="~/Scripts/angular-sanitize.js"></script>

    <script src="~/Scripts/toastr.js"></script>
    <script src="~/Scripts/moment.js"></script>
    <script src="~/Scripts/angular-ui/ui-bootstrap-tpls.min.js"></script>
    <script src="~/Scripts/spin.js"></script>


    <!-- Bootstrapping -->
    <script src="~/app/app.js"></script>
    <script src="~/app/config.js"></script>
    <script src="~/app/config.exceptionHandler.js"></script>
    <script src="~/app/config.route.js"></script>

    <!-- common Modules -->
    <script src="~/app/common/common.js"></script>
    <script src="~/app/common/logger.js"></script>
    <script src="~/app/common/spinner.js"></script>

    <!-- common.bootstrap Modules -->
    <script src="~/app/common/bootstrap/bootstrap.dialog.js"></script>



    <!-- app Services -->
    <script src="~/app/services/directives.js"></script>

    @Scripts.Render("~/bundles/RestServices")
    @RenderSection("scripts", false)


</body>
</html>