@model QuickComplaint.Data.Entities.ComplaintType

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Complaint Type Details</h2>

<div>
    <h4></h4>
    <hr/>
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Cancel", "Index", "", new {@class = "btn btn-default", role = "button"})
    @Html.ActionLink("Edit", "Edit", new {id = Model.Id}, new {@class = "btn btn-primary", role = "button"})

</p>